@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.queue-box {
  width: 100%;
  color: #fff;
  font-size: 14px;
  padding: 0 24px;
  animation: fadeIn ease-in 0.2s;
  -webkit-animation: fadeIn ease-in 0.2s;
  .title {
    letter-spacing: -1px;
  }
  .song-item {
    width: 100%;
    // grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last] minmax(
    //     120px,
    //     1fr
    //   );
    grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last];
    border: 1px solid transparent;
    border-radius: 4px;
    grid-gap: 16px;
    display: grid;
    padding: 4px 16px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 500;
    transition: all ease-in 0.1s;
  }
  .now-playing {
    h2 {
      font-size: 16px;
      color: #1db954;
    }
  }
  .gif-playing {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #00000080;
    justify-content: center;
    align-items: center;
  }
}
