.box {
  height: 90px;
  border-top: 1px solid #282828;
}
.disk {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color linear 0.12s;
    &:hover {
      color: #fff;
    }
  }
}
.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  button {
    transition: color linear 0.12s;
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: #fff;
    }
  }
  .play-btn {
    color: #000;
    border-radius: 50%;
    background-color: #fff;
    &:hover {
      color: #000;
      transform: scale(1.1);
    }
  }
  .progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a7a7a7;
    font-size: 11px;
    width: 100%;
  }
}
