@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.disk {
  .playing {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    animation: spinner linear 5s infinite;
    transition: all ease-in 0.2s;
  }
}
