.main-playlist {
  .modal-playlist1 {
    --background-noise: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
    background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%),
      var(--background-noise);
    max-height: 400px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .modal-playlist2 {
    --background-noise: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
    --background-base: #121212;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6) 0,
        var(--background-base) 100%
      ),
      var(--background-noise);
    background-color: #5038a0;
    height: 232px;
    position: absolute;
    width: 100%;
  }
  .img-shadow {
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }
  .grid-table {
    // grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
    //     120px,
    //     1fr
    //   );
    grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last];
    grid-gap: 16px;
    display: grid;
    width: 100%;
    // padding: 4px 16px;
  }
  .head-table {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    color: #b3b3b3;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .body-table {
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
  }
  .gif-playing {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #00000080;
    justify-content: center;
    align-items: center;
  }
  .song-item {
    width: 100%;
    // grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last] minmax(
    //     120px,
    //     1fr
    //   );
    grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last];
    border: 1px solid transparent;
    border-radius: 4px;
    grid-gap: 16px;
    display: grid;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 500;
    transition: all ease-in 0.1s;
  }
}
